[submodule "walrus"]
	path = walrus
	url = https://github.com/PolymathicAI/walrus.git
[submodule "poseidon"]
	path = poseidon
	url = https://github.com/camlab-ethz/poseidon
[submodule "General-Physics-Transformer"]
	path = General-Physics-Transformer
	url = https://github.com/FloWsnr/General-Physics-Transformer
